<!-- Contact -->
<div class="mb4">
  <form name="contact" action="/success.html" netlify>

    <div class="pt3">
      <!-- Name -->
      <div class="flex-ns">
        <div class="w-50-ns mr1-ns">
          <fieldset>
            <input type="text" id="firstname" name="first name" placeholder="First Name" class="w-100 mb2" required>
          </fieldset>
        </div>
        <div class="w-50-ns">
          <fieldset>
            <input type="text" id="lastname" name="last name" placeholder="Last Name" class="w-100 mb2" required>
          </fieldset>
        </div>
      </div>
      <!-- Email -->
      <div class="w-100">
        <fieldset>
          <input type="email" id="email" name="email" placeholder="Email" class="w-100 mb3" required>
        </fieldset>
      </div>
    </div>
    
    <div class="radios">
      <div class="w-100-ns pt2 pb4">
        <fieldset>
          <span class="f4 b white">I am a: <span class="f6">(please select)</span></span>
          <div class="flex-ns">
            <div class="w-100 w-50-ns btn bg-white mr1-ns mb1">
              <label class="ttc black">
                <input type="radio" name="role" value="HCP" class="">
                Healthcare Provider
              </label>
            </div>
            <div class="w-100 w-50-ns btn bg-white mb1">
              <label class="ttc black">
                <input type="radio" name="role" value="Patient or Caregiver" class="">
                Patient or Caregiver
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>


    <!-- Button -->
    <div class="tc mt3">
      <!-- <p class="small white">By registering, you agree to our terms of use.</p> -->
      <button type="submit" class="btn w-100 w-auto-ns raise bg-primary white ba">Register</button>
    </div>
  </form>
</div>
</div>

      