<footer class="bg-primary ph3 pv4 white mt5">

	<div class="mw8 center pt3">

		<div class="flex-ns tc tl-ns justify-between">

			<div style="font-size:0.7rem;">
				<a href="https://bluenotetherapeutics.com/"><img src="/img/logo-bn-white.svg" class="br0 mb2 w4" /></a>
			</div>

			<div class="tr-ns" style="font-size:0.7rem;">
				<div class="mb1">© 2020 Blue Note Therapeutics. All rights reserved.</div>
				<div>
					<a href="https://bluenotetherapeutics.com/#open-modal-contact" class="link">Contact us</a> | <!-- <a href="/docs/cerena_ToU.pdf" class="link">Terms of Use</a> | --> <a href="https://bluenotetherapeutics.com/privacy/" class="link">Privacy Policy</a>
				</div>
			</div>

		</div>
	</div>

</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/scrollto.js"></script>
<script type="text/javascript" src="/js/owl.carousel.min.js"></script>