<div class="pv5 pv6-l bg-center cover bg-white" style="width:100vw; height:100vh">
  <div class="mw8 center pv5">
    <div class="db mb3">
      <!-- <div class="mw7 relative bg-fix-primary mb3">
        <h1 class="f2 f1-l b di lh-title mb3 white mw6 bg-primary">
          {{.title}}
        </h1>
      </div> -->
      <div class="mw8 tc black">
        <h4>COMING SOON</h4>
        <!-- {{ if .subtitle }}
        <p class="b f4 di lh-title mb3 white mw6 bg-primary">
          {{.subtitle}}
        </p>
        {{ end }} -->
      </div>
    </div>
  </div>
</div>
