<nav id="nav-main" class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center relative mw8 w-100 z-999">

	<a href="/" class="pa3 db mr4 h-100 w4 flex-none">
		<img src="/img/logo-cerena.svg" alt="cerena logo" class="br0 db mb0 w-100"/>
	</a>

	<div class="flex b f6" id="nav-p">
		<div class="ph3 pt1"><a href="#module1" class="no-underline db primary raise">How it helps</a></div>
		<div class="ph3 pt1"><a href="#slideshow" class="no-underline db primary raise">How to use it</a></div>
		<div class="ph3 pt1"><a href="#module2" class="no-underline db primary raise">How it works</a></div>
		<div class="ph3 pt1"><a href="#module3" class="no-underline db primary raise">How to get it</a></div>
	</div>

	<div id="nav-r" class="br1 pa1 ma3">
        <a class="blue b f4 ph2 no-underline" onclick="javascript:toggleMenu();">&#9776;</a>
    </div>

</nav>



<div id="mobile-menu" class="absolute fixed bg-gradient z-max">
	<div class="bg-white w-100 pa3 db mr4 h-100 tc">
		<a href="/"><img src="/img/logo-cerena.svg" alt="cerena logo" class="pt1 br0 mb0 w-100 mw4"/></a>
	</div>
	<ul class="pa3 mt2 w-100 white center tc b">
		<li class="pv1 f3"><a href="#module1" class="pa3 no-underline db" onclick="javascript:toggleMenu();">How it helps</a></li>

		<li class="pv1 f3"><a href="#slideshow" class="pa3 no-underline db" onclick="javascript:toggleMenu();">How to use it</a></li>

		<li class="pv1 f3"><a href="#module2" class="pa3 no-underline db" onclick="javascript:toggleMenu();">How it works</a></li>

		<li class="pv1 mb3 f3"><a href="#module3" class="pa3 no-underline db" onclick="javascript:toggleMenu();">How to get it</a></li>	
	</ul>
	<p class="pt3 f6 b blue center tc w-100"><a class="bg-highlight br1 pa2 ph3" onclick="javascript:toggleMenu();">&times;</a></p>
</div>

<script type="text/javascript">
	function toggleMenu (){
		$('#mobile-menu').fadeToggle();
	}
</script>


