<div class="pv1 cover mt6" style="background-image: url({{.bg}});">
	<div class="ph3 mw7 center">

		<div class="flex-l mhn2-l">
			<div class="w-30-l ph2-l">
				<img src="/img/line-v.svg" class="relative" style="top:-50px;width:11px;" />
				<h2 class="f3 white b lh-title mb2">{{.heading}}</h2>

				<p class="cms">{{.text | markdownify}}</p>

				{{ if .text2}}
					<p class="cms">{{.text2 | markdownify}}</p>
				{{end}}

				{{ if .buttonText}}
					<a href="{{.buttonLink}}" class="btn raise">{{.buttonText}}</a>
				{{end}}
			</div>

			<div class="w-70-l ph2-l">
				<img src="{{.imageUrl}}" alt="" class="mb3">
			</div>
		</div>
	</div>
</div>
