::selection {
  background-color: var(--highlight);
}

body {
  background: var(--white);
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

hr {
  border-top: 1px solid var(--primary);
  border-bottom: none;
}


/* Used in the navbar */
nav {
  /* Link hover states */
  & a {
    transition: var(--hover-transition);
  }
  & a:hover, & a:focus {
    color: var(--blue);
  }
}

#nav-r {
  display: none;
}

.hideme {
  opacity: 0;
  padding-top: 10px;
}

.small {
  font-size: 0.75rem;
}


.bg-gradient {
  background: rgb(139,201,197);
  background: linear-gradient(346deg, rgba(139,201,197,1) 0%, rgba(93,150,220,1) 100%);
}


.fullscreen-bg-text {
    position: absolute;
    top: 50%;
    left: 25%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 50%;
    opacity:1;
    -webkit-transform: translate(-25%, -25%);
       -moz-transform: translate(-25%, -25%);
        -ms-transform: translate(-25%, -25%);
        transform: translate(-25%, -25%);
}


.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  &:target {
    opacity: 1;
    pointer-events: auto;
  }
  &>div {
    width: 80%;
    border-radius: var(--border-radius);
    max-width: 640px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: var(--white);
    color: var(--black);
  }
  &>div .scrollme {
    display: inline-block;
    max-height:30rem;
    overflow: scroll;
  }
  header {
    font-weight: bold;
  }
  h1 {
    font-size: 150%;
    margin: 0 0 15px;
    color: var(--black);
  }
}

.modal-close {
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.modal-window .cancel {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}

@media only screen and (max-width: 1024px) {
  #nav-r {
    display: inline;
  }
  #nav-p {
    display: none;
  }
}


#mobile-menu {
  top:0;
  left:0;
  min-width:100vw;
  min-height:100vh;
  & a {
    transition: var(--hover-transition);
  }
  & ul a:hover, & ul a:focus {
    color: var(--highlight);
  }
}

#mobile-menu .active {
  color: var(--highlight);
}


#nav-mobile, #mobile-menu {
  display: none;
}


.btn {
  font-family: "Public Sans", sans-serif;
}

.btn:hover, .btn:focus{
  background: var(--blue);
  color: white;
}


form .radios .btn {
  text-align:left;
  letter-spacing: 0rem;
  padding: 0.75rem 1rem;
}


form .radios .btn:hover, .btn:focus {
  background: var(--highlight);
}

/*input[type="radio"] {
  display:none;
}*/

[type="radio"] + label{
    position:relative;
    padding-left:30px;
    cursor:pointer;
    display:inline-block;
    color: var(--grey-3);
    line-height:1.2rem;
}


[type="radio"] + label::before{
    content:"";
    position: absolute;
    left:0;
    top:0;
    width:18px;
    height:18px;
    border-radius: 100%;
    border:2px solid #aaa;
    background:#fff;

}

[type="radio"]:checked + label::after{
    content:"";
    position:absolute;
    left:4px;
    top:4px;
    width:14px;
    height:14px;
    border-radius:100%;
    background: var(--primary);
    transform:scale(1);
    opacity:1;
    transition:all .3s ease;
}

[type="radio"]:not(:checked) + label::after{
    content:"";
    position:absolute;
    left:4px;
    top:4px;
    width:14px;
    height:14px;
    border-radius:100%;
    background:#fff;
    transform:scale(0);
    opacity:0;
}


.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
  padding: 10px;
  height:50px;
  width: 50px;
  border-radius: 25px;
  background: var(--white);
}


.owl-theme .owl-dots {
  top: -3rem;
  position: relative;
}

.owl-theme .owl-dots .owl-dot span {
  background: var(--white);
}


.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.owl-prev {
  left: 0;
}

.owl-next {
  right: 0;
}